svg#test-donut0 > path {
  stroke-width: 4px;
}

svg#donut1 > path {
  stroke-width: 8px;
}

svg.donut > path {
  fill: none;
  stroke-width: 14px;
}

svg.donut > path.background {
  stroke: #EFEFEF;
}

svg.donut > path.donut-data0 {
  stroke: #ED1B24;
}

svg.donut > path.donut-data1 {
  stroke: #F3EA43;
}

svg.donut > path.donut-data2 {
  stroke: #00A3E8;
}

svg.donut > path.donut-data3 {
  stroke: #5701AE;
}
