svg#test-donut0 > path {
  stroke-width: 4px;
}

svg#donut1 > path {
  stroke-width: 8px;
}

svg.donut > path {
  fill: none;
  stroke-width: 14px;
}

svg.donut > path.background {
  stroke: #EFEFEF;
}

svg.donut > text.donut-text {
  text-anchor: middle;
  fill: darkgray;
}

svg#test-donut0 > text.donut-text {
  font-size: 6px;
}

svg#donut1 > text.donut-text {
  font-size: 16px;
}

svg#donut2 > text.donut-text {
  font-size: 46px;
}

svg.donut > path.donut-data0 {
  stroke: #ED1B24;
}

svg.donut > path.donut-data1 {
  stroke: #F3EA43;
}

svg.donut > path.donut-data2 {
  stroke: #00A3E8;
}

svg.donut > path.donut-data3 {
  stroke: #5701AE;
}
